<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>User dashboard</title>
  </head>
  <body>
    <div>
      <form id="file" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/pdf" required />
        <input type="submit" value="upload" />
      </form>
      {% if files.is_empty() %}
      <p>There are no any files</p>
      {% else %}
      <p>Files:</p>
      <table>
        <tr>
          <th>User</th>
          <th>Download</th>
          <th>Pages</th>
          <th colspan="2"></th>
        </tr>
        {% for file in files %}
        <tr>
          <td>{{ file.username }}</td>
          <td><a href='/download/{{ file.id }}'>{{ file.filename }}</a></td>
          <td>{{ file.pages }}</td>
          <td><a href='/review/{{ file.id }}'>review</a></td>
          <td><a href='/delete/{{ file.id }}'>delete</a></td>
        </tr>
        {% end %}
      </table>
      {% end %}
    </div>
  </body>
</html>
