<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Review file {{ filename }}</title>
    <style>
      img {
          max-width: 600px;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        {% for page in pages %}
        <tr>
          <td align="center"><img src="/uploads/{{ folder }}/{{ folder }}-{{ page }}.png" /></td>
        </tr>
        <tr>
          <td align="center">{{ page }}</td>
        </tr>
        {% end %}
      </table>
      <a href="/">Go back</a>
    </div>
  </body>
</html>
